{% load staticfiles %}
<!DOCTYPE html>
<!-- HTML5 -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'actyx1/base.css' %}"></link>
		{% block head %}
			<title>{% if title %}{{ title }} | {% endif %}Actyx Challenge 1</title>
		{% endblock head %}
	</head>
	<body>
		<div id="topbar">
			<div class="topbar-item">
				<a href="{% url 'challenge1:index' %}">
					<img src="{% static 'actyx/logo.png' %}" alt="Actyx Logo">
				</a>
			</div>
			<div class="topbar-item">
				{% block title %}
					<p class="title">{{ title }}</p>
				{% endblock title %}
			</div>
			<div class="topbar-item">
				{% block extra-links %}
				{% endblock extra-links %}
				<a href="{% url 'challenge1:machines' %}">All Machines</a>
			</div>
		</div>
		<div id="content">
			{% block content %}
				<p>Something's wrong, get to a safe place <a href="{% url 'challenge1:index' %}">HERE</a></p>
			{% endblock content %}
		</div>
	</body>
</html>
