{% extends "actyx1/base/base.django.html" %}

{% block content %}
	<h1>{{ title }}</h1>
	<a href="{% url 'challenge1:fetch_api' 'ALL' %}">Fetch all data</a>
	<p>List all machines</p>
	<a href="{% url 'challenge1:machines' %}">All Machines</a>
{% endblock %}
