{% extends 'actyx1/base/base.django.html' %}
{% load staticfiles %}

{% block head %}
	{{ block.super }}
	<link rel="api-endpoint" href="{% url 'challenge1:API_stream' '' %}" title="Data API Endpoint" id="link-api-endpoint"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'actyx1/machines.css' %}"></link>
	<script async type="text/javascript" src="{% static 'actyx1/machines.js' %}"></script>
{% endblock head %}

{% block title %}
	<p id="p_updating"></p>
	<p id="p_updated-date" class="hidden">
		<span>Last Update</span>
		<span id="updated-date" title="Stop Updating"></span>
		<span id="updated-stop" class="hidden">Stopped Updating</span>
	</p>
	<button id="retry" onclick="window.location.reload()" class="hidden">Reload Page</button>
{% endblock title %}

{% block content %}
	<h2 id="p_warnings"class="hidden">Warnings</h2>
	<ul id="list-warnings" class="hidden"></ul>
	<h2>Machines</h2>
	<ul id="machines">
		{% for m in machines %}
			<li id="uuid_{{ m.uuid }}" class="machine" title="{{ m.uuid }}">
				<meter value=0 min=0 max=100 high=80></meter>
				{% if m.location %}
					<span class="location"><b>Location: </b><span>{{ m.location }}</span></span>
				{% endif %}
				<span class="name">{{ m.name }}</span>
				<span class="type">{{ m.machinetype }}</span>
			</li>
		{% endfor %}
	</ul>
{% endblock content %}
