{% extends 'actyx1/base/base.django.html' %}
{% load staticfiles %}

{% block head %}
	<link rel="api-endpoint" href="{% url 'challenge1:API_stream' %}" title="Data API Endpoint" id="link-api-endpoint">
	<link rel="stylesheet" type="text/css" href="{% static 'actyx1/tstapi.css' %}"></link>
{% endblock head %}

{% block content %}
	<h2>Warnings</h2>
	<ul class="list warnings" id="list-warnings"></ul>
	<h2>Title</h2>
	<ul class="list" id="list">
		{% for number in arr %}
			<li id="li-{{ number }}">{{ number }}</li>
		{% endfor %}
	</ul>
	<h2>END</h2>

	<script type="text/javascript" charset="utf-8" src={% static 'actyx1/tstapi-stream.js' %}></script>
{% endblock content %}
