body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;

	font-family: "Open Sans", sans-serif;
}
#topbar {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background: #111;
}
#topbar .title {
	background: inherit;
	font-size: 1.375rem;
}
#topbar .topbar-item {
	display: flex;
	flex-flow: row wrap;
}
#topbar .topbar-item > p,
#topbar .topbar-item > a {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 0.5em;
	padding: 0.5em;
	color: #AAA;
	text-decoration: none;
}
#topbar .topbar-item img {
	max-height: 3em;
}
#topbar .topbar-item > a:hover {
	color: #FFF;
}
#content {
	margin: 1em 1em 0;
}

@media (min-width: 960px) {
	#topbar .topbar-item:first-child {
		margin-left: calc((100% - 960px) / 2);
	}
	#topbar .topbar-item:last-child {
		margin-right: calc((100% - 960px) / 2);
	}
}
@media (max-width: 500px) {
	#topbar .topbar-item {
		width: 100%;
		justify-content: center;
	}
}

.hidden {
	display: none !important;
}
.disabled {
	opacity: 0.25;
}
