h2 {
	text-align: center;
}
ul#machines {
	list-style: outside none none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
	padding: 0;
}
.machine {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 30%;
	flex-grow: 1; /*All the same*/
	text-align: center;
	max-height: 15em;
	margin: 0.75em;
}
.machine .name {
	font-weight: bold;
	font-size: 1.1em;
}
.machine .type {
	font-style: italic;
	font-size: 0.9em;
	font-variant: all-small-caps;
}
.machine .location {
	font-family: monospace;
}
#list-warnings {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	max-height: 10em;
	overflow-y: auto;
	padding: 0;
	margin: 0 5em;
}
#list-warnings li {
	flex: 1 45%;
	order: 100;
	margin: 0.5em;
	padding: 0.25em;
	position: relative;
	cursor: pointer;
	background: #D9534F;
	color: black;
	font-size: 1.125em;
	font-weight: bold;
	text-align: center;
}
#list-warnings li > a {
	float: right;
	color: inherit;
}
#list-warnings li.application {
	background: black;
	color: #D9534F;
	/* Push these warnings to the top */
	flex: 1 100%;
	order: 1;
}
#p_updating {
	text-align: center;
	font-style: italic;
}
#p_updated-date {
	text-align: center;
}
#updated-date {
	font-weight: bold;
	cursor: pointer;
}
