ul.list {
	list-style: none;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
ul.list li {
	margin: 0.5em;
	padding: 0.25em;
	min-width: 7.5%;
	text-align: center;
	background: #bacaba;
	color: black;
}

#content > h2 {
	text-align: center;
}

ul.list.warnings {
	flex-flow: column nowrap;
}
ul.list.warnings li{
	position: relative;
	cursor: pointer;
	background: black;
	color: red;
}
